@font-face {
	font-family: 'DK More';
	src: url(../fonts/dkmore.otf);
}

@font-face {
	font-family: 'Flicker';
	src: url(../fonts/flicker.otf);
}

$handWriting: 'DK More', sans-serif;
$primaryFont: 'Patrick Hand SC', cursive;