@font-face {
	font-family: 'DK More';
	src: url(../fonts/dkmore.otf);
}

// @font-face {
// 	font-family: 'Bernard';
// 	src: url(../fonts/bernard.ttf);
// }

@font-face {
	font-family: 'Flicker';
	src: url(../fonts/flicker.otf);
}

// $primaryFont: 'Raleway',sans-serif;
$handWriting: 'DK More', sans-serif;
$primaryFont: 'Patrick Hand SC', cursive;